:root {
  --dark: #30363d;
  --light: #fff;

  --primary-color-200: #00539b;
  --primary-color-400: #004786;
  --primary-color-500: #003b6f;
  --primary-color-600: #00325f;
  --primary-color-800: #012849;

  --secondary-color-200: #d9f4f8;
  --secondary-color-400: #b4eaf1;
  --secondary-color-500: #8fdfea;
  --secondary-color-600: #6ad5e3;
  --secondary-color-800: #45cbdc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  html {
    font-size: 32.75%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  html {
    font-size: 42.75%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  html {
    font-size: 52.75%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  html {
    font-size: 62.75%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  html {
    font-size: 72.75%;
  }
}
